body{
	margin-top: 56px;
}
footer ul li a{
	font-size: 16pt;
}
div#main{
	background-color: #ececec;
}
section#conhecimentos{
	background-color: #dedede;
	box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
}
section#projetos{
  background-color: #dedede;
}
div.card-img-top{
  font-size: 36pt;
  color: white;
}
div.projetos{
  margin-bottom: 20px;
  -webkit-transition: all 0.2s ease-in;
}
div.projetos:hover{
  -webkit-transform: scale(1.1);
}
a#back-to-top{
  background-color: #0d6efd;
  opacity: 0.5;
  transition: opacity 1s;
  position: fixed;
  bottom: 25px;
  right: 15px;
  box-shadow: 1px 1px 4px black;
  color: white;
  font-size: 14pt;
  text-decoration: none;
}
a#back-to-top:hover{
  opacity: 1;
  box-shadow: 1px 1px 5px black;
}
a#whatsapp{
  background-color: #075e54;
  opacity: 0.5;
  transition: opacity 1s;
  position: fixed;
  bottom: 70px;
  right: 15px;
  box-shadow: 1px 1px 4px black;
  color: white;
  font-size: 14pt;
  text-decoration: none;
}
a#whatsapp:hover{
  opacity: 1;
  box-shadow: 1px 1px 5px black;
}